@using Domain.Entity.IndexPage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    SeoPage seoPage = ViewBag.Seo;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود | ثبت نام</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/materialdesignicons.css">
    <!-- plugin------------------/assetsCli-------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/noUISlider.min.css">
    <!-- main-style--------------/assetsCli-------------->
    <link rel="stylesheet" href="/assetsCli/css/main.css">
</head>
<body>
<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <div class="account-box">
                            <div class="account-box-headline">
                                    <a href="@Url.Action("Index","Home")" style="margin-top: 20px"><img src="http://newdev.parsme.com/Images/Banner/@seoPage.HeaderLogo"/></a>
                                    <a href="@Url.Action("Login", "Home")" class="login-ds active w-100">
                                        <span class="title">ورود / ثبت نام</span>
                                    </a>
                                    <div style="padding-right: 35px">
                                        <h6 style="font-size: 14px;padding: 10px">
                                            سلام!

                                        </h6>
                                        <h6 style="font-size: 17px;color: #797979;padding: 10px">
                                            لطفا شماره موبایل خود را وارد کنید
                                        </h6>
                                    </div>
                            </div>
                            <div class="Login-to-account ">
                                <div class="account-box-content">
                                    <form class=" text-right" asp-action="SendLoginCode" asp-controller="Home" id="loginForm">
                                        <div class="form-account-title">
                                            <input type="text" class="number-email-input" id="Phone" name="phoneNumber" required="required">
                                        </div>
                                      
                                        <div class="d-flex justify-content-center gap-2 w-100">
                                            <div class="form-row-account w-100">
                                                <button   class="btn btn-primary" type="button" id="loginButton"><a class="text-decoration-none text-white">ورود</a></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->

<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->

</body>

<!-- file js---------------------------------------------------->
<script src="/assetsCli/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assetsCli/js/vendor/bootstrap.js"></script>
<!-- plugin--/assetsCli--------------------------------------------->
<script src="/assetsCli/js/vendor/owl.carousel.min.js"></script>
<script src="/assetsCli/js/vendor/jquery.countdown.js"></script>
<script src="/assetsCli/js/vendor/ResizeSensor.min.js"></script>
<script src="/assetsCli/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="/assetsCli/js/vendor/wNumb.js"></script>
<script src="/assetsCli/js/vendor/nouislider.min.js"></script>
<!-- main js-/assetsCli--------------------------------------------->
<script src="/assetsCli/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function validateIranianMobileNumber(phoneNumber) {
        // الگوی شماره موبایل ایران
        const iranMobileRegex = /^(\+98|0)?9\d{9}$/;

        // بررسی مطابقت شماره
        return iranMobileRegex.test(phoneNumber);
    }
    document.getElementById("loginButton").addEventListener("click", function () {
        const phoneInput = document.getElementById("Phone").value.trim();

        if (phoneInput === '') {
            Swal.fire({
                icon: 'info',
                title: 'وارد کردن شماره!',
                text: 'لطفاً شماره تلفن را وارد کنید.',
                confirmButtonText: 'باشه'
            });
        } else if (!validateIranianMobileNumber(phoneInput)) {
            Swal.fire({
                icon: 'warning',
                title: 'شماره نامعتبر!',
                text: 'شماره تلفن وارد شده معتبر نمی‌باشد. لطفاً شماره صحیح وارد کنید.',
                confirmButtonText: 'باشه'
            });
        } else {
            // اگر شماره معتبر باشد، فرم ارسال می‌شود
            document.getElementById("loginForm").submit();
        }
    });
</script>
</html>