@using System.Text.Json
@using Admin.Ui.Client.Models.Dtos
@using Admin.Ui.Client.Shared.Dialogs.BrandTags
@using Application.Interfaces
@using Domain.Entity.Product
@using Microsoft.EntityFrameworkCore
@using Color = MudBlazor.Color
@using MudBlazor
@page "/ManageBrandTag"
@rendermode InteractiveServer

<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">افزودن برند</h5>
                <button
                    id="modal-add-brand"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameWithTitle" class="form-label">عنوان *</label>
                        <input
                            type="text"
                            id="nameWithTitle"
                            class="form-control"
                            placeholder="عنوان برند"
                            @bind="_brand.Title"
                            required="required"/>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="formFile" class="form-label">لوگو *</label>
                        @* <input class="form-control" @bind="_brand.LogoUri" type="file" id="formFile" *@
                        @*        required="required"/> *@
                        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload">
                                    اپلود عکس
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: space-between">
                <div>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                        بستن
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="InsertBrand">ثبت</button>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" @bind="_brand.IsClick" id="defaultCheck1"/>
                    <label class="form-check-label" for="defaultCheck1"> فعال </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding: 15px">
    <h4 class="fw-bold py-3 mb-4" style="direction: rtl"><span class="text-muted fw-light">اطلاعات پایه /</span> برند ها
    </h4>
    <div class="d-flex justify-content-start align-items-center p-3">
        <div class="w-25">
            <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter"
            >
                افزودن
            </button>
        </div>
    </div>
    <div class="card">

        <div class="table-responsive text-nowrap">
            <table class="table table-hover" style="direction: rtl">
                <thead>
                <tr>
                    <th class="text-center">شماره</th>
                    <th class="text-center">نام</th>
                    <th class="text-center">لوگو</th>
                    <th class="text-center">وضعیت</th>
                    <th class="text-center">عملیات</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @foreach (var i in _brands)
                {
                    <tr>
                        <td class="text-center">
                            <i class="fab fa-angular fa-lg text-danger me-3"></i>
                            <strong>@i.Id</strong>
                        </td>
                        <td class="text-center">
                            @i.Title
                        </td>
                        <td class="text-center">
                            <img width="40" src="https://newdev.parsme.com/Images/Brand/@i.LogoUri"/>
                        </td>
                        <td class="text-center">
                            @if (i.IsClick)
                            {
                                <span class="badge bg-label-success me-1">فعال</span>
                            }
                            else
                            {
                                <span class="badge bg-label-danger me-1">غیر فعال</span>
                            }
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i
                                            class="bx bx-edit-alt me-1"></i>
                                        ویرایش</a
                                    >
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>
                                        حذف</a
                                    >
                                </div>
                            </div>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>

</div>