<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه اینترنتی پارس می</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/Header/assets/plugins/hover-master/css/hover-min.css">
    <link rel="stylesheet" href="/Header/assets/css/ionicons.css">
    <link rel="stylesheet" href="/Header/assets/css/droopmenu.css">
    <link rel="stylesheet" href="/Header/assets/css/highlight.css">
    <link rel="stylesheet" href="/Header/assets/css/nouislider.min.css">
    <link rel="stylesheet" href="/Header/assets/css/style.css">
    <link rel="stylesheet" href="/css/ManualModule.css">
    <style>
        #previous-page{
         display: none !important;    
        }
        #next-page{
            display: none !important;
        }
    </style>
    @await RenderSectionAsync("link", false)
    @await RenderSectionAsync("meta", false)
</head>

<body>
<!-- header-------------------------------->
@await RenderSectionAsync("Header")
<!-- Modal -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="header-search text-right">
                    <div class="header-search-box">
                        <form asp-action="search" asp-controller="home" method="post" class="form-search">
                            <input type="search" class="header-search-input EnFont" name="search" id="SearchEl2"
                                   placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                            <div class="action-btns">
                                <button class="btn btn-search" type="submit">
                                    <img src="/assetsCli/images/search.png" alt="search">
                                </button>
                            </div>
                        </form>
                        <div class="search-result">
                            <ul class="search-result-list mb-0" id="SearchResult2">
                            </ul>
                            <div class="localSearchSimple"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-categories-overlay"></div>
<div class="overlay-search-box"></div>
<!-- header-------------------------------->

<!-- sidebar------------------------->
<!-- sidebar-------------------------------->

<!-- content-site--------------------------->
@RenderBody()
<!-- content-site--------------------------->

<!-- footer------------------------------------------->
@await RenderSectionAsync("footer")
<!-- footer------------------------------------------->
<!-- Page Loader----------------------------->
<div class="P-loader">
    <div class="P-loader-content">
        <div class="logo-loader">
            <img src="/Images/Banner/parsme-logo.png" alt="logo">
        </div>
        <div class="pic-loader text-center">
            <img src="/assetsCli/images/three-dots.svg" width="50" alt="">
        </div>
    </div>
</div>
<!-- Page Loader----------------------------->
</body>
<!-- file js---------------------------------------------------->
@await RenderSectionAsync("script", false)

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

<script type="text/javascript">
    !function(){var i="rJEXFp",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
</script>
<script>
    $('#SearchEl2').on('input', function() {
        // Your function code here
        $.ajax({
            type: "Get",
            data: {search: $(this).val()},
            url: "/Search/SearchProd/",
            beforeSend: function() {
            },
            error: function (xhr) {
                Notiflix.Notify.failure('خطای داخلی');
            },
            complete: function() {
            },
            timeout: 40000,
            success: function (data) {
                let html = ``;
                if (data.length>0)
                { data.map(x =>
                {
                    html+=`  <li>
                                            <a href="/Home/ProductPage/${x.id}">
                                                <img src="https://newdev.parsme.com/Images/ProductImage/${x.imageUri}" width="30px">
                                                ${x.persianTitle}
                                                <a class="btn btn-light btn-continue-search" href="/Home/ProductPage/${x.id}">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </a>
                            </li>`;
                })}else{
                    html+=`  <li>
                                            <a href="">
                                              نتیجه ای یافت نشد
                                            </a>
                            </li>`;
                }


                document.getElementById("SearchResult2").innerHTML = html;
            },
        });
    });
</script>

<script src="/Header/assets/js/droopmenu.js"></script>
<script src="/Header/assets/js/nouislider.min.js"></script>
<script src="/Header/assets/js/pagination.js"></script>
<script src="/Header/assets/js/scripts.js"></script>
<!-- main js------------------------------------------------>
<script src="/assetsCli/js/main.js"></script>
</html>