@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/materialdesignicons.css">
    <!-- plugin------------------/assetsCli-------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/nice-select.css">
    <!-- main-style--------------/assetsCli-------------->
    <link rel="stylesheet" href="/assetsCli/css/main.css">
    <link rel="stylesheet" href="/assetsCli/css/responsive.css">
</head>

<body>
    <!-- 404----------------------------------->
    <div class="container-main">
        <div class="col-12">
            <div id="content">
                <div class="d-404">
                    <div class="d-404-title">
                        <h1>صفحه‌ای که دنبال آن بودید پیدا نشد!</h1>
                    </div>
                    <div class="d-404-actions">
                        <a href="home-1.html" class="d-404-action-primary">صفحه اصلی</a>
                    </div>
                    <div class="d-404-image">
                        <img src="/assetsCli/images/404.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404----------------------------------->

</body>
<!-- file js---------------------------------------------------->
<script src="/assetsCli/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assetsCli/js/vendor/bootstrap.js"></script>
<!-- plugin--/assetsCli--------------------------------------------->
<script src="/assetsCli/js/vendor/owl.carousel.min.js"></script>
<script src="/assetsCli/js/vendor/jquery.countdown.js"></script>
<script src="/assetsCli/js/vendor/ResizeSensor.min.js"></script>
<script src="/assetsCli/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="/assetsCli/js/vendor/wNumb.js"></script>
<script src="/assetsCli/js/vendor/nouislider.min.js"></script>
<script src="/assetsCli/js/vendor/jquery.nice-select.min.js"></script>
<!-- main js-/assetsCli--------------------------------------------->
<script src="/assetsCli/js/main.js"></script>

</html>