@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پنل مدیریت | صفحه ورود</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2/css/bootstrap.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/dist/css/bootstrap-rtl.min.css">
    <!-- template rtl version -->
    <link rel="stylesheet" href="~/dist/css/custom-style.css">
    <link rel="stylesheet" href="/css/sweetalert.css">
    <!-- Notiflix CSS (CDN) -->
    <link rel="stylesheet" href="/css/notiflix.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <p class="text-decoration-none">
            <b>ورود به پنل مدیریت</b>
        </p>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body text-center">
            <img src="/Images/parsme-logo.png"/>
            <p class="login-box-msg " style="  padding: 15px 20px 20px 20px!important;">شماره تماس خود را وارد کنید</p>
            <form >
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="شماره تماس" id="phoneNumber">
                    <div class="input-group-append">
                        <span class="fa fa-envelope input-group-text"></span>
                    </div>
                </div>
                <div class="row">
                    @* <div class="col-6"> *@
                    @*     <a class="btn btn-primary btn-block btn-flat rounded-2 text-white" onclick="confirmCode()">ورود با کد</a> *@
                    @* </div> *@
                    <!-- /.col -->
                    <div class="col-12">
                        <a class="btn btn-primary btn-block btn-flat rounded-2 text-white" onclick="withPassword()">ورود با رمز عبور</a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- iCheck -->
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script src="~/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/sweetalert.js"></script>
<!-- Notiflix JS (CDN) -->
<script src="/js/Notiflix.js"></script>
<script>
    Notiflix.Notify.init();
</script>
<script>
     function confirmCode(){
    
          $.ajax({
               type: "Post",
               data: {phoneNumber: $('#phoneNumber').val()},
               url: "/Admin/CheckPhoneNumber",
               success: function (data) {
                 window.location.href= "/admin/LoginCod?phoneNumber=" + $('#phoneNumber').val();
               },
               error: function (xhr) {
                  alert("شماره همراه وارد شده معتبر نمیباشد");
               }
           });
       }
       function withPassword(){
       
               $.ajax({
                      type: "Post",
                      data: {phoneNumber: $('#phoneNumber').val()},
                      url: "/Admin/LoginPassword",
                      success: function (data) {
                          Notiflix.Notify.success('ورود موفقیت انجام شد');
                       window.location.href= "/admin/LoginPassword?phoneNumber=" + $('#phoneNumber').val();
                      }, beforeSend: function() {
                       Notiflix.Loading.circle('در حال پردازش ...');
                     },
                     error: function (xhr) {
                       Notiflix.Notify.failure('خطای داخلی');
                       showAlertError();
                     },
                     complete: function() {
                       Notiflix.Loading.remove();
                     }
                      });
       }
     function showAlertSuccess() {
         Swal.fire({
             title: 'موفق',
             text: 'ورود موفقیت آمیز',
             icon: 'success',
             confirmButtonText: 'بستن'
         });
     }
     function showAlertError() {
         Swal.fire({
             title: 'خطا',
             text: 'شماره وارد شده معتبر نمیباشد',
             icon: 'error',
             confirmButtonText: 'بستن'
         });
     }
    </script>

</body>
</html>