@using Domain.Entity.IndexPage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    AboutUsPage about = ViewBag.Contact;
}

@section link
{
    <style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت صفحه درباره ما</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">درباره ما</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex justify-content-between p-2"
                                      asp-action="InsertAboutUs" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                    <div class="form-group w-50">
                                        <label for="exampleInputPassword1">عنوان معرفی صفحه</label>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <textarea id="editor1" name="head" class="form-control editor" style="width: 100%" required="required">
@about.Head
                                                                                       
</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group w-50">
                                        <label for="exampleInputPassword1">توضیحات صفحه</label>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <textarea id="editor2" name="body" class="form-control editor" style="width: 100%" required="required">
@about.Body
                                                                                       
</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column align-content-center justify-content-center ">
                                        <div class="form-input">
                                            <button type="submit" class="btn btn-primary">ثبت</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@section script{
    <script>
        window.addEventListener("load", (e) => {
            ClassicEditor
                .create(document.querySelector('#editor2'), {
                    // Editor configuration.
                    //پشتیبانی از تگ های HTML
                    htmlSupport: {
                        allow: [
                            {
                                name: /.*/,
                                attributes: true,
                                classes: true,
                                styles: true
                            }
                        ]
                    },
                    //edit toolbar
                    toolbar: {
                        items: [
                            'undo', 'redo',
                            '|', 'heading',
                            '|', 'fontColor', 'fontBackgroundColor',
                            '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                            '|', 'uploadImage', 'imageInsert', 'mediaEmbed',
                            '|', 'link', 'blockQuote', 'codeBlock',
                            '|', 'alignment',
                            '|', 'bulletedList', 'numberedList', 'todoList', 'outdent', 'indent',
                            '|', 'htmlEmbed', 'sourceEditing'
                        ],
                        shouldNotGroupWhenFull: false
                    },
                    //edit heading
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                            { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                            { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' },
                            { model: 'myHeading', view: { name: 'h2', classes: 'myHeadingCss' }, title: 'هدینگ اختصاصی', class: 'ck-myHeadingCss', converterPriority: 'high' }
                        ]
                    },
                    //edit link
                    link: {
                        addTargetToExternalLinks: true,
                        decorators: [
                            { mode: 'manual', label: 'قابلیت دانلود', attributes: { download: 'download'}, defaultValue: false, },
                        ],
                    },
                    //edit font color
                    fontColor: {
                        colors: [
                            { color: 'red', label: 'قرمز' },
                            { color: 'green', label: 'سبز' },
                            { color: 'blue', label: 'آبی' },
                            { color: 'pink', label: 'صورتی' },
                            { color: '#f7f7f7', label: 'خاکستری' },
                        ]
                    },
                    //edit background color
                    fontBackgroundColor: {
                        colors: [
                            { color: 'red', label: 'قرمز' },
                            { color: 'green', label: 'سبز' },
                            { color: 'blue', label: 'آبی' },
                            { color: 'pink', label: 'صورتی' },
                        ]
                    },
                    extraPlugins: [MyCustomUploadAdapterPlugin],

                })
                .then(editor => {
                    window.editor = editor;
                })
                .catch(handleSampleError);
        });

        function handleSampleError(error) {
            const issueUrl = 'https://github.com/ckeditor/ckeditor5/issues';
            const message = [
                'Oops, something went wrong!',
                `Please, report the following error on ${issueUrl} with the build id "npwdoukyfz5-3bd6as171pns" and the error stack trace:`
            ].join('\n');
            console.error(message);
            console.error(error);
        }
    </script>
}