@using MudBlazor
<MudFab Style="background-color: #5726ba;border-radius:12px;width: fit-content;color: white;box-shadow: none"
        StartIcon="@Icons.Material.Filled.Add" Class="" Label="افزودن تنوع"
        OnClick="async () => darad()"/>

<button @onclick="darad">testt</button>